@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'paperlogy';
  src: url('./assets/fonts/paperlogy/Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: 'paperlogy', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
